
{% for array in content.movies -%}
<div class="card-group">
  {% for item in array -%}
  <div class="card">
    <img src="{{item.Poster}}" class="card-img-top" alt="{{item.Title}}" width="100px">
    <div class="card-body">
      <h5 class="card-title">{{item.Title}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Year: {{item.Year}}</li>
        <li class="list-group-item">Type: {{item.Type}}</li>
        <li class="list-group-item">IMDB: #{{item.imdbID}}</li>
      </ul>
    </div>
  </div>
  {%- endfor -%}
</div>
{%- endfor -%}